doctype html
html
    head
        title Развитие продуктов | Теги
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")

    body
        header
            .container
                img(src="assets/img/logo.svg" alt="Логотип РТ МИС")

        nav            
            .container
                div.col-md-12.row
                    div.nav-actions
                        ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
                            li.nav-item
                                a.nav-link.active(href="javascript:void(0);")
                                    i.fe.fe-github
                                    | Развитие продуктов
                            li.nav-item
                                a.nav-link(href="training-center.html")
                                    i.fe.fe-monitor
                                    | Учебный центр
                            li.nav-item
                                a.nav-link(href="menu.html")
                                    i.fe.fe-list
                                    | Меню
                            li.nav-item
                                a.nav-link(href="notification.html")
                                    i.fe.fe-alert-circle
                                    | Уведомление
                            li.nav-item
                                a.nav-link(href="auth-header.html")
                                    i.fe.fe-type
                                    | Заголовок формы авторизации
                            li.nav-item.logout
                                a.nav-link(href="javascript:void(0);")
                                    i.fe.fe-log-out
                                    | Выход

        .my-3.my-md-5.tabs-page
            .container
                .row.taxi-row
                    .col-md-3
                        .list-group
                            a.list-group-item.list-group-item-action.d-flex.align-items-center(href="index.html")
                                span.icon.mr-3
                                    i.fe.fe-git-pull-request
                                | Изменения
                            a.list-group-item.list-group-item-action.d-flex.align-items-center.active(href="javascript:void(0);")
                                span.icon.mr-3
                                    i.fe.fe-hash
                                | Теги

                    .col-md-6
                        h3 Теги
                        .form-group
                            .input-group
                                input(type="text" class="form-control" value="АРМ врача поликлиники")
                                span.input-group-append
                                    button.btn.btn-secondary(type="button" title="Переместить вверх")
                                        i.dropdown-icon.fe.fe-arrow-up
                                    button.btn.btn-secondary(type="button" title="Переместить вниз")
                                        i.dropdown-icon.fe.fe-arrow-down            
                                    button.btn.btn-secondary(type="button" title="Удалить")
                                        i.dropdown-icon.fe.fe-trash
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-save
                        .form-group
                            .input-group
                                input(type="text" class="form-control" value="АРМ врача стационара")
                                span.input-group-append
                                    button.btn.btn-secondary(type="button" title="Переместить вверх")
                                        i.dropdown-icon.fe.fe-arrow-up
                                    button.btn.btn-secondary(type="button" title="Переместить вниз")
                                        i.dropdown-icon.fe.fe-arrow-down            
                                    button.btn.btn-secondary(type="button" title="Удалить")
                                        i.dropdown-icon.fe.fe-trash
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-save

                        .form-group
                            .input-group
                                input(type="text" class="form-control" value="АРМ диагностики")
                                span.input-group-append
                                    button.btn.btn-secondary(type="button" title="Переместить вверх")
                                        i.dropdown-icon.fe.fe-arrow-up
                                    button.btn.btn-secondary(type="button" title="Переместить вниз")
                                        i.dropdown-icon.fe.fe-arrow-down            
                                    button.btn.btn-secondary(type="button" title="Удалить")
                                        i.dropdown-icon.fe.fe-trash
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-save
                        .form-group
                            .input-group
                                input(type="text" class="form-control" value="АРМ лаборанта")
                                span.input-group-append
                                    button.btn.btn-secondary(type="button" title="Переместить вверх")
                                        i.dropdown-icon.fe.fe-arrow-up
                                    button.btn.btn-secondary(type="button" title="Переместить вниз")
                                        i.dropdown-icon.fe.fe-arrow-down            
                                    button.btn.btn-secondary(type="button" title="Удалить")
                                        i.dropdown-icon.fe.fe-trash
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-save

                        .form-group
                            .input-group
                                input(type="text" class="form-control" value="АРМ медицинского статиста")
                                span.input-group-append
                                    button.btn.btn-secondary(type="button" title="Переместить вверх")
                                        i.dropdown-icon.fe.fe-arrow-up
                                    button.btn.btn-secondary(type="button" title="Переместить вниз")
                                        i.dropdown-icon.fe.fe-arrow-down            
                                    button.btn.btn-secondary(type="button" title="Удалить")
                                        i.dropdown-icon.fe.fe-trash
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-save
                        .form-group
                            .input-group
                                input(type="text" class="form-control" value="АРМ стоматолога")
                                span.input-group-append
                                    button.btn.btn-secondary(type="button" title="Переместить вверх")
                                        i.dropdown-icon.fe.fe-arrow-up
                                    button.btn.btn-secondary(type="button" title="Переместить вниз")
                                        i.dropdown-icon.fe.fe-arrow-down            
                                    button.btn.btn-secondary(type="button" title="Удалить")
                                        i.dropdown-icon.fe.fe-trash
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-save

                        hr
                        .form-group
                            .input-group
                                input(type="text" class="form-control" placeholder="Введите название тега")
                                span.input-group-append
                                    button.btn.btn-primary(type="button" title="Сохранить")
                                        i.fe.fe-plus 
                                        | Добавить тег


                    
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="assets/js/app.min.js")